html,
body {
  height: 100%;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 27px;
  font-weight: 27px;
  color: $title;
  overflow-x: hidden;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow: hidden; // чтобы если что-то вылезало за пределы экрана, не появлялся скрол
}

.main {
  flex: 1 0 auto;
}
.footer {
  flex: 0 0 auto;
  // margin-top: auto;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 15px;
}

.info-email {
  display: block;
  font-weight: 600;
  font-size: 14px;
  color: $title;
  padding-left: 30px;
  position: relative;
  margin-bottom: 22px;
  &::before {
    content: "";
    background-image: url(../images/envelope.svg);
    position: absolute;
    top: 9px;
    left: 0px;
    width: 17px;
    height: 13px;
  }
}
