@media (max-width: 1280px) {
  // Слайдер ========================
  .top__slider-info {
    display: flex;
    flex-direction: column;
    padding-top: 80px;
  }
  .top__slider-title {
    width: 566px;
    min-height: 170px;
    padding-right: 50px;
    padding-top: 20px;
    font-size: 70px !important;
    line-height: 20px;
  }
  .top__slider-text {
    width: 566px;
    padding-right: 200px;
  }
  //  ========================
}

@media (max-width: 1060px) {
  // Слайдер ========================
  .top__slider-img {
    width: 450px;
    height: 500px;
    margin: 100px 0 0 50px;
    //  ========================
  }
}

@media (max-width: 960px) {
  // Слайдер ========================
  .top__slider-img {
    width: 350px;
    height: 400px;
    margin: 100px 0 0 50px;
  }
  .top__slider-info {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    padding-bottom: 30px;
  }
  .top__slider-title {
    width: 566px;
    min-height: 170px;
    padding-right: 100px;
    padding-top: 20px;
    font-size: 50px !important;
    line-height: 20px;
  }
  .top__slider-text {
    width: 566px;
    padding-right: 300px;
  }
  //  ========================
}

@media (max-width: 818px) {
  // Меню ========================
  .menu {
    padding: 0 15px 0 0px;
  }
  .menu__list-item {
    padding-left: 0;
    & + .menu__list-item {
      padding-right: 20px;
    }
  }
  .logo {
    margin: 0 25px 0 0;
  }
  //  ========================

  // Слайдер ========================
  .top__slider-img {
    width: 350px;
    height: 400px;
    margin: 100px 0 0 40px;
  }
  .top__slider-info {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    padding-bottom: 30px;
  }
  .top__slider-title {
    width: 566px;
    min-height: 170px;
    padding-right: 100px;
    padding-top: 20px;
    font-size: 50px !important;
    line-height: 20px;
  }
  .top__slider-text {
    width: 566px;
    padding-right: 300px;
  }
  //  ========================
}

@media (max-width: 760px) {
  // Слайдер ========================
  .top__slider-img {
    width: 250px;
    height: 300px;
    margin: 40px 0 0 100px;
  }
  .top__slider-info {
    display: flex;
    flex-direction: column;
    padding-top: 0px;
    padding-bottom: 10px;
    margin-top: 57px !important;
  }
  .top__slider-title {
    width: 566px;
    min-height: 141px;
    padding-right: 280px;
    padding-top: 0px;
    font-size: 35px !important;
    line-height: 41px !important;
    &::after {
      bottom: 5% !important;
    }
  }
  .top__slider-text {
    // display: none;
    margin-top: 0px !important;
    line-height: 20px;
    width: 468px;
    padding-right: 300px;
    font-size: 16px;
  }
  //  ========================
}

@media (max-width: 670px) {
  // Слайдер ========================
  .top__slider-img {
    margin: 40px 0 0 24px;
  }
  //  ========================
}

@media (max-width: 565px) {
  // Слайдер ========================
  .top__slider-img {
    display: none; //
  }
  .top__slider-info {
    // margin: 0 0 16px 29px !important; //
  }
  .top__slider-title {
    min-height: 107px; //
    padding-right: 124px; //

    &::after {
      bottom: 9% !important; //
    }
  }
  .top__slider-text {
    // display: none;

    padding-right: 155px; //
  }
  //  ========================
  // Меню ========================
  .logo {
    position: relative;
    min-width: 300px;
    height: 100px;
  }
  .highDeviceWidth {
    display: none;
  }
  .smallDeviceWidth {
    display: block;
    position: absolute;
    padding-left: 35px;
  }

  .menu__list {
    display: none;
  }

  .menu-deviceWidth540 {
    display: inline-block;
    &__title {
      color: $title;
      font-size: 20px;
    }
    .active {
      text-shadow: 0.5px 0.5px 1px black;
      transition: 0.2s;
    }
  }
  //  ========================
}
