@media (max-width: 1366px) {
  // ====== furniture new collection
  .collection {
    grid-template-columns: repeat(3, 1fr);
    &__imeges {
      width: 100%;
    }
  }
  // ==================
}

@media (max-width: 1280px) {
  // Слайдер ========================
  .top__slider-info {
    display: flex;
    flex-direction: column;
    padding-top: 80px;
  }
  .top__slider-title {
    width: 566px;
    min-height: 170px;
    padding-right: 50px;
    padding-top: 20px;
    font-size: 70px !important;
    line-height: 20px;
  }
  .top__slider-text {
    width: 566px;
    padding-right: 200px;
  }
  //  ========================
}

@media (max-width: 1060px) {
  // Слайдер ========================
  .top__slider-img {
    width: 450px;
    height: 500px;
    margin: 100px 0 0 50px;
    //  ========================
  }
}

@media (max-width: 960px) {
  // ====== furniture new collection
  .collection {
    grid-template-columns: repeat(2, 1fr);
  }
  // ==================

  // Слайдер ========================
  .top__slider-img {
    width: 350px;
    height: 400px;
    margin: 100px 0 0 50px;
  }
  .top__slider-info {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    padding-bottom: 30px;
  }
  .top__slider-title {
    width: 566px;
    min-height: 170px;
    padding-right: 100px;
    padding-top: 20px;
    font-size: 50px !important;
    line-height: 20px;
  }
  .top__slider-text {
    width: 566px;
    padding-right: 300px;
  }
  //  ========================
}

@media (max-width: 860px) {
  .footer {
    &__inner {
      flex-wrap: wrap;
      justify-content: center;
    }
    &__info {
      width: 100%;
      margin-bottom: 50px;
    }
    &__info-text {
      min-width: 100%;
    }
    &__menu {
      margin-left: auto;
      margin-right: auto;
    }
    &__social {
      margin-left: auto;
      margin-right: auto;
    }
  }
}

@media (max-width: 818px) {
  .gallery {
    min-height: 975px !important;
  }
  // Меню ========================
  .menu {
    padding: 0 15px 0 0px;
  }
  .menu__list-item {
    padding-left: 0;
    & + .menu__list-item {
      padding-right: 20px;
    }
  }
  .logo {
    margin: 0 25px 0 0;
  }
  //  ========================

  // Слайдер ========================
  .top__slider-img {
    width: 350px;
    height: 400px;
    margin: 100px 0 0 40px;
  }
  .top__slider-info {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    padding-bottom: 30px;
  }
  .top__slider-title {
    width: 566px;
    min-height: 170px;
    padding-right: 100px;
    padding-top: 20px;
    font-size: 50px !important;
    line-height: 20px;
  }
  .top__slider-text {
    width: 566px;
    padding-right: 300px;
  }
  //  ========================
}

@media (max-width: 760px) {
  .gallery {
    min-height: 975px !important;
  }
  // how it works (works-path)
  .works-path {
    &__item--measuring {
      margin-left: 100px;
    }

    &__item--producton {
      margin-left: 115px;
    }
    &__item--measurements {
      margin-left: 166px;
    }
  }
  // =========================
  // Слайдер ========================
  .top__slider-img {
    width: 250px;
    height: 300px;
    margin: 40px 0 0 100px;
  }
  .top__slider-info {
    display: flex;
    flex-direction: column;
    padding-top: 0px;
    padding-bottom: 10px;
    margin-top: 57px !important;
  }
  .top__slider-title {
    width: 566px;
    min-height: 141px;
    padding-right: 280px;
    padding-top: 0px;
    font-size: 35px !important;
    line-height: 41px !important;
    &::after {
      bottom: 5% !important;
    }
  }
  .top__slider-text {
    // display: none;
    margin-top: 0px !important;
    line-height: 20px;
    width: 468px;
    padding-right: 300px;
    font-size: 16px;
  }
  //  ========================
}

@media (max-width: 670px) {
  // ============ Блог в Home Page
  .blog-box__items {
    grid-template-columns: repeat(1, 1fr);
  }
  .blog-box__item {
  }
  .blog-box__img-link {
    width: 100%;
  }
  .blog-box__img {
    width: 100%;
  }
  .blog-box__item-title {
    font-size: 25px;
  }
  .gallery {
    min-height: 930px !important;
  }
  // =============================
  // how it works (works-path)
  .works-path {
    &__item-text {
      margin-top: 0;
    }
    &__item {
      text-align: center;
    }
    &__item-img {
      // margin-left: 40%;
      // display: none;
      padding-bottom: 10px;

      padding: 5px;
      border: 1px solid black;
      border-radius: 20%;
    }
    &__item-title {
      margin: auto;
    }
    &__items {
      // display: flex;
    }
    &__item {
      width: 100%;
      display: flex;
      flex-direction: column;
      padding-bottom: 20px;
    }
    &__item--measuring {
    }

    &__item--producton {
      margin-left: 0;
    }
    &__item--measurements {
      margin-left: 0;
      padding-top: 0;
    }
    &__items-box {
      border: none;
      display: block;
    }
    &__items-box::before,
    &__item--consultation::before,
    &__item--producton::after,
    &__item--measurements::before {
      display: none;
    }
  }

  // =========================

  // Слайдер ========================
  .top__slider-img {
    margin: 40px 0 0 24px;
  }
  //  ========================
}

@media (max-width: 565px) {
  .footer__form {
    // min-width: 350px;
  }
  .footer__form-input {
    // width: 178px;
  }
  .gallery {
    min-height: 675px !important;
  }
  %title-font {
    font-size: 28px !important;
    line-height: 36px !important;
  }
  // ====== furniture new collection
  .collection {
    grid-template-columns: repeat(1, 1fr);
    &__images {
      width: 100%;
    }
  }
  // ==================
  // Слайдер ========================
  .top__slider-img {
    display: none; //
  }
  .top__slider-info {
    // margin: 0 0 16px 29px !important; //
  }
  .top__slider-title {
    min-height: 107px; //
    padding-right: 124px; //

    &::after {
      bottom: 9% !important; //
    }
  }
  .top__slider-text {
    // display: none;

    padding-right: 155px; //
  }
  //  ========================
  // Меню ========================
  .logo {
    position: relative;
    min-width: 300px;
    height: 100px;
  }
  .highDeviceWidth {
    display: none;
  }
  .smallDeviceWidth {
    display: block;
    position: absolute;
    padding-left: 35px;
  }

  .menu__list {
    display: none;
  }

  .menu-deviceWidth540 {
    display: inline-block;
    &__title {
      color: $title;
      font-size: 20px;
    }
    .active {
      text-shadow: 0.5px 0.5px 1px black;
      transition: 0.2s;
    }
  }
  //  ========================
}

@media (max-width: 470px) {
  .top__slider-title {
    padding-right: 303px !important;
    padding-top: 0px;
    font-size: 25px !important;
    line-height: 37px !important;
  }
  .top__slider-text {
    padding-right: 245px !important;
  }
}

@media (max-width: 395px) {
  .top__slider-title {
    padding-right: 316px !important;
    padding-top: 0px;
    font-size: 25px !important;
    line-height: 37px !important;
  }
  .top__slider-title::after {
    bottom: 0% !important;
  }
  .top__slider-text {
    padding-right: 263px !important;
  }
  .decor__title {
    font-size: 39px;
    line-height: 45px;
  }

  .footer {
    &__inner {
      justify-content: center;
    }
    &__social {
      margin-left: 0;
    }
    &__form {
      display: block;
    }
    &__form-button {
      width: 100%;
      margin-left: 0;
      margin-top: 10px;
    }
  }
}
