@import "vars";
@import "fonts";
@import "reset";
@import "libs";
@import "global";

.wrapper {
  overflow: hidden;
  // display: flex;
  // flex-direction: column;
  // min-height: 100vh;
}

.error {
  color: rgb(186, 18, 18);
}

.header {
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center; // выровняли вертикальные элементы по центру
    height: 120px;
  }
}

.btn {
  background-color: transparent;
  cursor: pointer;
}

.logo {
  margin: 0 auto;
  min-width: 98px;
  height: 32px;
}

.menu {
  padding-left: 35px;
  padding-right: 35px;
  &__list {
    display: flex;
  }
  &__list-item {
    padding-right: 35px;
    padding-left: 35px;
  }
  &__list-link {
    @extend %title-font;
    color: rgba(54, 56, 56, 0.9);
  }
}
.menu__list-link.active {
  padding-bottom: 4px;
  position: relative;
  &::after {
    position: absolute;
    content: "";
    bottom: 0;
    left: 0;
    right: 0;
    height: 2px;
    border-radius: 2px;
    background-color: rgba($title, 0.7);
  }
}

.footer {
  margin-top: auto;
  &__content {
    background: #dfdfdf;
    padding: 60px 0 80px;
  }

  &__inner {
    display: flex;
    justify-content: space-between;
  }

  &__info-title {
    color: $title;
    @extend %title-font;
    margin-bottom: 14px;
    line-height: 23px;
  }

  &__info-text {
    margin-bottom: 16px;
    max-width: 475px;
  }

  &__form {
    display: flex;
  }
  &__form-input {
    padding: 6px 10px 6px 18px;
    border-radius: 21px;
    background-color: transparent;
    border: 1px solid rgba($title, 0.7);
    width: 100%;
    &::placeholder {
      font-family: "Open Sans", sans-serif;
      font-weight: 400;
      font-size: 16px;
      line-height: 27px;
      color: a1a1a1;
    }
  }
  &__form-button {
    background-color: $title;
    border: none;
    color: #fffff0;
    border-radius: 21px;
    font-weight: 600;
    padding: 6px 12px;
    min-width: 160px;
    margin-left: 9px;
    cursor: pointer;
  }

  &__social {
    width: 125px;
    margin-right: auto;
    margin-left: 100px;
  }
  &__social-link {
    padding-left: 28px;
    position: relative;
    &::before {
      position: absolute;
      content: "";
      top: 3px;
      left: 0;
      width: 16px;
      height: 16px;
    }
  }
  &__social-link--facebook::before {
    background-image: url(../images/facebook.svg);
  }
  &__social-link--instagram::before {
    background-image: url(../images/instagram.svg);
    width: 14px;
    height: 14px;
  }
  &__social-link--pinterest::before {
    background-image: url(../images/Pinterest.svg);
  }
  &__social-link--whatsapp::before {
    background-image: url(../images/whatsapp.svg);
    width: 14px;
    height: 14px;
  }
  &__social-link--youtube::before {
    background-image: url(../images/youtube.svg);
    width: 18px;
    height: 12px;
    top: 4px;
  }
  &__social-item,
  &__menu-item {
    margin-bottom: 15px;
    font-size: 14px;
    font-weight: 600;
  }
  &__social-link,
  &__menu-link {
    color: #707070;
  }

  &__menu {
    margin-right: 60px;
    width: 125px;
  }

  &__copyright {
    color: #dfdfdf;
    background-color: $title;
    text-align: center;
    padding: 42px 0px 41px;
  }
}

.blur {
  width: 100vw;
  height: 100vh;
  position: absolute;
  backdrop-filter: blur(0px);
  transform: translateX(-110%);
  // display: none;
  overflow: hidden;
  position: fixed;
  top: 0;
  transition: 0.2s;
}
.blur.active {
  backdrop-filter: blur(2px);
  transform: translateX(0);
  transition: 0.2s;
  // display: block;
}

.rightside-menu.active {
  transform: translateX(0); // toggled values
}

.rightside-menu {
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  max-width: 694px;
  width: 100%;
  background-color: #e0dede;
  padding-top: 40px;
  transform: translateX(+100%); // toggled values
  transition: all 0.2s;

  &__close {
    background-color: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
    margin-right: 50px;
    margin-left: 50px;
  }
  &__content {
    text-align: center;
    max-width: 485px;
    margin: 0 auto;
  }
  &__logo {
    margin-right: 25px;
    margin-bottom: 10px;
    display: inline-block;
  }
  &__title {
    color: $title;
    @extend %title-font;
    font-size: 36px;
    line-height: 51px;
    margin-bottom: 10px;
  }
  &__text {
    margin-bottom: 30px;
  }
  &__images {
    max-width: 485px;
  }
  &__line {
    height: 2px;
    border: 1px solid rgb(160, 160, 160);
    width: 250px;
    background: #c00e0e;
    margin: 10px auto;
  }
}

.test {
  margin-bottom: 20px;
}

.main {
  margin-bottom: auto;
}

.breadcrumbs {
  overflow-y: hidden;
  overflow-x: auto;
  background: rgba(#dfdfdf, 0.5);
  padding: 13px 14px;
  height: 60px;
  &__list {
    display: flex;
  }
  &__item::after {
    content: "/";
    margin-left: -4;
    margin-right: 4px;
  }
  &__item:last-child::after {
    display: none;
  }
  &__link {
    font-size: 14px;
    color: $default;
  }
}

.top {
  background: url(../images/content/main_slider.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  max-height: 620px;
}

.container-fluid {
  max-width: 1920px;
  padding: 0 10px;
}

.new-collection {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
  text-align: center;
  padding: 45px 0 105px;
  &__title {
    color: $title;
    font-size: 35px;
    line-height: 51px;
    padding-bottom: 25px;
    margin-bottom: 25px;
    position: relative;
    &::after {
      content: "";
      position: absolute;
      width: 250px;
      height: 1px;
      bottom: 0;
      left: 0;
      right: 0;
      margin: 0 auto;
      background: #6d7278;
    }
  }
  &__text {
    max-width: 730px;
    margin: 0 auto 30px;
  }
}

.collection {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 30px;
  user-select: none;
  cursor: pointer;
  &__item {
    position: relative;

    &:hover {
      .collection__info {
        opacity: 1;
      }
    }
  }
  &__images {
    min-height: 350px;
    object-fit: cover; // если изображение будет больше, то оно все равно обрежется до квадратного
  }
  &__info {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(#fff, 0.7);
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: all 0.5s;
  }
  &__info-title {
    font-size: 20px;
    line-height: 25px;
    color: $title;
    margin-bottom: 19px;
    padding-bottom: 19px;
    position: relative;
    &::after {
      content: "";
      bottom: 0;
      position: absolute;
      height: 1px;
      background: #6d7278;
      width: 200px;
      margin: 0 auto;
      right: 0;
      left: 0;
    }
  }
  &__info-text {
    font-weight: 600;
    font-size: 14px;
    color: #707070;
  }
}

.decor {
  padding: 170px 0 155px;
  background-image: url(../images/content/decor-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 600px;
  &__title {
    max-width: 540px;
    color: $title;
    font-size: 60px;
    line-height: 80px;
  }
  &__text {
    max-width: 540px;
  }
}

.works-path {
  padding: 80px 0 30px;
  &__title {
    @extend %title-font;
    text-align: center;
    columns: $title;
    margin-bottom: 40px;
    font-size: 36px;
    line-height: 51px;
  }
  &__items-box {
    display: flex;
    align-items: flex-end;
    // justify-content: space-between;
    border-bottom: 2px solid rgba($title, 0.7);
    position: relative;
    &::before {
      content: "";
      position: absolute;
      bottom: -5px;
      left: 0;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background-color: $title;
    }
  }
  &__item {
    width: 250px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    position: relative;
  }

  &__item--producton {
    margin-left: 317px;
    margin-bottom: 20px;
    &::after {
      content: "";
      position: absolute;
      bottom: -20px;
      left: 0;
      height: 20px;
      width: 2px;
      background: rgba($title, 0.7);
    }
  }

  &__item--measurements {
    padding-top: 30px;
    margin-left: 305px;
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      height: 20px;
      width: 2px;
      background: rgba($title, 0.7);
    }
  }

  &__item--production,
  &__item--consultation {
    padding-bottom: 10px;
  }

  &__item-title {
    margin-left: 13px;
    color: $title;
    @extend %title-font;
  }
  &__item-text {
    margin-top: 13px;
    // margin-bottom: 28px;
  }
}

.gallery {
  max-width: 1865px;
  min-height: 1228px;
  margin: 0 auto;
  padding: 80px 0 90px;
}

.blog-box {
  padding-bottom: 100px;
  &__title {
    color: $title;
    @extend %title-font;
    font-size: 36px;
    line-height: 51px;
    margin: 0 auto 30px;
    text-align: center;
    min-width: 250px;
  }
  &__items {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
  }
  &__img-link {
    margin-bottom: 19px;
    display: inline-block;
  }
  &__links {
    margin-bottom: 9px;
    font-size: 14px;
    font-weight: 600;
    color: #707070;
  }
  &__date,
  &__author,
  &__theme {
    color: inherit;
  }
  &__item-titleLink {
    color: $title;
    @extend %title-font;
    font-size: 24px;
    line-height: 38px;
  }
}

// ================= ABOUT PAGE =============================

.about {
  &__prev {
    background-image: url(../images/content/about-bg.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    text-align: center;
    padding: 160px 0;
  }
  &__prev-title {
    color: $title;
    @extend %title-font;
    font-size: 60px;
    line-height: 80px;
  }
  &__content {
    padding: 130px 0 40px;
  }
  &__title {
    columns: $title;
    @extend %title-font;
    font-size: 36px;
    line-height: 60px;
    padding-bottom: 22px;
    margin-bottom: 22px;
    position: relative;
    &::after {
      position: absolute;
      content: "";
      bottom: 0;
      left: 0;

      width: 200px;
      height: 1px;
      background: #6d7278;
    }
  }
  &__text {
    padding-left: 283px;
    p {
      margin-bottom: 30px;
    }
  }
  &__popup {
    background-image: url(../images/content/videoPlay.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    min-height: 414px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.about__popup-play {
  background: transparent;
  border: none;
}

.inspiration {
  align-self: center;
  padding-top: 10px;
  position: relative;
  &::after {
    position: absolute;
    content: "";
    bottom: 0;
    left: 0;
    right: 0;
    background-image: url(../images/content/inspiration-bg.png);
    height: 490px;
    z-index: -1;
    background-size: cover;
    // background-repeat: no-repeat;
  }
  &__inner {
    display: flex;
    justify-content: center;
  }
  &__title {
    font-size: 36px;
    line-height: 60px;
    color: $title;
    @extend %title-font;
    padding-bottom: 16px;
    margin-bottom: 24px;
    position: relative;
    max-width: 830px; // <====================== test
    &::after {
      position: absolute;
      content: "";
      bottom: 0;
      left: 0;
      background: #6d7278;
      width: 200px;
      height: 2px;
    }
  }
  &__text {
    // width: 825px;
    height: 80px;
    color: #5a5a5a;
    font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 27px;
    max-width: 830px; // <====================== test
  }
  &__list {
  }
  &__item {
    position: relative;
    padding-bottom: 30px;
    max-width: 830px; // <====================== test
    &::before {
      content: url(../images/content/Green_chair.png);
      position: absolute;
      left: -471px;
      top: -155px;
    }
  }
  &__content {
    // min-width: 825px;
    max-width: 830px; // <====================== test
  }
}

.partners {
  padding: 16px 0 35px;
  &__items {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
  }
}

.about-collection {
  padding-bottom: 70px;
}

.contact {
  padding-bottom: 100px;
  &__title {
    color: $title;
    @extend %title-font;
    font-size: 36px;
    line-height: 60px;
    margin-bottom: 40px;
    position: relative;
    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      line-height: 0;
      height: 2px;
      width: 200px;
      background-color: #6d7278;
    }
  }
  .contact__social {
    padding-left: 284px;
    display: flex;
    margin-bottom: 20px;
  }
  &__social-item + .contact__social-item {
    padding-left: 40px;
  }
  &__text {
    margin-bottom: 10px;
  }
  &__phone {
    color: $default;
  }
  &__city {
    margin-bottom: 16px;
  }
  &__contact-box {
    padding-left: 284px;
  }
  &__form {
    padding-left: 284px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  &__form-input {
    border: 1px solid #dfdfdf;
    border-radius: 20px;
    padding: 6px 17px;
    margin-bottom: 13px;
    width: 48%;
    &::placeholder {
      color: #a1a1a1;
      font-size: 16px;
      line-height: 27px;
      font-weight: 400;
      font-family: "Open Sans", sans-serif;
    }
  }
  &__form-area {
    width: 100%;
    border: 1px solid #dfdfdf;
    border-radius: 24px;
    padding: 14px 17px;
    min-height: 125px;
    resize: none;
    margin-bottom: 20px;
    &::placeholder {
      color: #a1a1a1;
      font-size: 16px;
      line-height: 27px;
      font-weight: 400;
      font-family: "Open Sans", sans-serif;
    }
  }
  &__form-btn {
    border: none;
    background-color: $title;
    color: #fffff0;
    font-weight: 600;
    border-radius: 21px;
    padding: 6px 60px;
    cursor: pointer;
  }
}

.slider__item {
  margin: 0 auto;
  padding-top: 100px;
  display: flex !important;
  justify-content: space-between !important;
  max-width: 1920px !important;
  user-select: none !important;
}
.slider__link {
  border: none;
  background-color: #fff;
  max-width: 170px;
  max-height: 170px;
  position: relative;
  padding: 10px;
}

.slider__title {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  color: $title;
  background-color: rgba(#fff, 0.7);
  align-items: center;
  transition: all 0.5s;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  padding: 64px 15px;
  font-weight: 700;
  opacity: 0;
  cursor: pointer;

  &:hover {
    opacity: 1;
  }
}

.blog {
  padding: 60px 0 100px;
  &__inner {
    display: flex;
    justify-content: space-between;
  }
  &__category {
    margin-bottom: 36px;
  }
  &__category-title {
    margin-bottom: 16px;
    color: $title;
    @extend %title-font;
    line-height: 23px;
  }
  &__category-item,
  &__tags-title {
    margin-bottom: 12px;
  }
  &__category-link {
    color: inherit;
  }
  &__tags {
    margin-bottom: 50px;
  }
  &__tags-link {
    color: #8f8d8d;
    font-weight: 600;
    font-size: 14px;
    padding: 0 16px;
    margin-bottom: 10px;
    margin-right: 10px;
    display: inline-block;
    border: 1px solid rgba(#454647, 0.5);
    border-radius: 14px;
  }
  &__social {
    min-width: 100px;
    max-width: 200px;
    display: flex;
    justify-content: space-between;
  }
  &__social-item {
    margin-bottom: 20px;
  }
  &__items {
    max-width: 730px;
  }
  &__item {
    margin-bottom: 80px;
  }
  &__item-img {
    // min-width: 730px;

    // background-size: 100%;
  }
  &__item-info {
    padding: 25px 0 10px;
    font-weight: 600;
    font-size: 14px;
    color: #707070;
    a {
      color: inherit;
    }
  }
  &__item-title {
    user-select: none;
    cursor: pointer;
    font-size: 24px;
    line-height: 38px;
    margin-bottom: 6px;
    color: $title;
    @extend %title-font;
  }
  &__blockquote {
    background: rgba(223, 223, 223, 0.5);
    margin-bottom: 50px;
    padding: 54px 64px;
    font-weight: 300;
    font-style: italic;
    font-size: 24px;
    line-height: 38px;
    text-align: center;
  }
  &__blockquote-author {
    font-size: 16px;
    line-height: 22px;
    color: $title;
    @extend %title-font;
    margin-top: 23px;
    padding-top: 23px;
    position: relative;
    font-style: normal;
    &::before {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      background: #6d7278;
      width: 200px;
      border-radius: 1px;
      height: 1px;
      margin: 0 auto;
    }
  }

  &__item-img {
    // position: relative;
  }
}

.article-popup {
  &-box {
    position: relative;
  }
}

.blog__item-popup {
  width: 80px;
  height: 80px;
  position: absolute;
  // left: 45%;
  // top: 40%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.recent-posts {
  margin-bottom: 40px;
  &__title {
    margin-bottom: 16px;
    color: $title;
    @extend %title-font;
    line-height: 23px;
  }
  &__item {
    margin-bottom: 11px;
  }
  &__item-title {
    display: block;
    color: inherit;
    cursor: pointer;
  }
  &__date,
  &__author {
    color: #a1a1a1;
    font-size: 14px;
  }
}

.aside {
  width: 350px;
  margin-left: 30px;
  &__search {
    position: relative;
    margin-bottom: 40px;
  }
  &__search-input {
    padding: 6px 45px 6px 18px;
    border-radius: 20px;
    border: 1px solid rgba($title, 0.7);
    display: block;
    width: 100%;
    &::placeholder {
      color: #a1a1a1;
      font-size: 16px;
      line-height: 27px;
      font-weight: 400;
      font-family: "Open Sans", sans-serif;
    }
  }
  &__search-btn {
    position: absolute;
    border: none;
    background-color: transparent;
    top: 10px;
    right: 13px;
  }
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;

  &__list {
    display: flex;
  }
  &__list-item {
    margin: 0 4px;
  }

  &__list-num {
    // padding-top: 1px;
    background: transparent;
    border: none;
    font-weight: 600;
    font-size: 14px;
    color: #707070;
    cursor: pointer;
  }

  &__arrow {
    cursor: pointer;
    margin-top: -1px;
    // margin: 0 6px;
    background: transparent;
    border: none;
  }
  &__arrow--disabled {
    opacity: 0;
    pointer-events: none; // нужен что бы при клике (появлении) ничего не прыгало
  }
  &__active-num {
    color: $title;
  }
}

.blog-one__item {
  p {
    margin-bottom: 40px;
  }
  blockquote {
    font-size: 24px;
    font-weight: 300;
    font-style: italic;
    color: $title;
    margin-bottom: 30px;
    padding: 0 40px;
  }
  .blog__blockquote-author::before {
    margin-right: auto;
    margin-left: 0;
  }
}

.blog-one {
  &__tags {
    margin-bottom: 30px;
  }
  &__tags-title {
    color: $title;
    @extend %title-font;
    font-size: 20px;
    line-height: 31px;
    margin-bottom: 15px;
  }
  &__tags-link {
    margin-bottom: 10px;
    margin-right: 23px;
    padding: 0 16px;
    color: #8f8d8d;
    font-size: 14px;
    font-weight: 600;
    opacity: 0.5s;
    border: 1px solid rgba(#454647, 0.5);
    border-radius: 14px;
    display: inline-block;
  }
  &__links {
    padding: 40px 0 32px;
    border-top: 1px solid #dfdfdf;
    border-bottom: 1px solid #dfdfdf;
    display: flex;
    justify-content: space-between;
    margin-bottom: 35px;
  }
  &__link {
    width: 243px;
    position: relative;
    color: #707070;
    font-size: 14px;
    font-weight: 600;
    &::before {
      content: "";
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      background-image: url();
      width: 12px;
      height: 23px;
    }
  }
  &__link-prev {
    padding-left: 44px;
    color: #707070;
  }
  &__link-next {
    padding-right: 44px;
    text-align: right;
    color: #707070;
  }
  &__box-prev,
  &__box-next {
    display: flex;
  }

  &__comments-title {
    color: $title;
    @extend %title-font;
    line-height: 31px;
    font-size: 20px;
    margin-bottom: 15px;
  }
  &__comments-item {
    display: flex;
    justify-content: space-between;
    align-items: start;
    margin-bottom: 40px;
  }
  &__comments-avatar {
    width: 64px;
    height: 64px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 13px;
  }
  &__comments-info {
    margin-right: auto;
  }
  &__comments-reply {
    background-color: transparent;
    margin-left: 5px;
    border: none;
    padding: 0;
    font-size: 14px;
    font-weight: 600;
    color: #707070;
    cursor: pointer;
  }
  &__comments-replyMessage {
    display: inline-block;
  }
  &__comments-name {
    color: $title;
    @extend %title-font;
    line-height: 23px;
  }
  &__comments-date {
    margin-bottom: 10px;
    font-size: 14px;
    color: #a1a1a1;
  }
  &__form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__form-textarea {
    resize: none;
    width: 100%;
    border: 1px solid #dfdfdf;
    border-radius: 24px;
    padding: 14px 17px;
    min-height: 125px;
    margin-bottom: 12px;
    &::placeholder {
      color: #a1a1a1;
      font-size: 16px;
      line-height: 27px;
      font-weight: 400;
      font-family: "Open Sans", sans-serif;
    }
  }
  &__form-input {
    border: 1px solid #dfdfdf;
    border-radius: 20px;
    padding: 6px 17px;
    margin-bottom: 12px;
    margin-right: 10px;
    width: 350px;
    &::placeholder {
      color: #a1a1a1;
      font-size: 16px;
      line-height: 27px;
      font-weight: 400;
      font-family: "Open Sans", sans-serif;
    }
  }
  &__form-label {
    // width: 200px;
    display: flex;
    width: 100%;
    margin-bottom: 20px;
    font-size: 14px;
    color: #a1a1a1;
  }
  &__form-btn {
    background-color: $title;
    border: none;
    color: #fffff0;
    border-radius: 21px;
    font-weight: 600;
    padding: 6px 12px;
    min-width: 160px;
    margin-left: 9px;
    cursor: pointer;
  }
  &__from-title {
    margin-bottom: 20px;
    color: $title;
    @extend %title-font;
    line-height: 23px;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 23px;
  }
}

.menu-deviceWidth540 {
  display: none;
}

.smallDeviceWidth {
  display: none;
}

.map {
  iframe {
    height: 578px;
  }
}

.contact__title::after {
  left: 0.5%;
}

.blog-one__authorization-paragraphs {
  margin-left: 20px;
  display: inline-block;
}
.blog-one__authorization-links {
  // color: #c00e0e;
  text-decoration: underline;
}
.blog-one__logOut {
  margin-left: 20px;
  display: inline-block;
  cursor: pointer;
}

@import "media";
